<h1 class="display-4 mt-5">Items</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ItemID</th>
      <th>Item Name</th>
      <th>Price/Item</th>
      <th>Actions</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% items.forEach(function(item){ %>
    <tr>
      <td><%= item.item_id %></td>
      <td><%= item.item_name %></td>
      <td><%= item.price %></td>
      <td>
        <form
          action="/orderItem/<%= item.item_id %>"
          method="POST"
        > 
          <div class="form-group">
            <input type="number" required class="form-control" id="quantity" name="item_quantity" placeholder="Enter quantity needs to be ordered.">
          </div>
          <div class="form-group">
            <input type="submit" value="Place Order" class="btn btn-primary px-3" />
          </div>
        </form>
      </td>
    </tr>
    <% }) %>
  </tbody>
</table>
<a href="/find" class="btn btn-primary ml-2">Find Items</a>
