<h1 class="display-4 mt-4">Welcome!</h1>
<p class="ml-2">what would you like to order today?</p>
<a href="/getItems" class="btn btn-primary ml-2">View Items</a>
<a href="/find" class="btn btn-outline-primary ml-2">Find Items</a>
